@await Html.PartialAsync("_GameStyles")



<h1 class="text-center">Выбери режим!</h1>
<div class="mode-pick-container">
    <a class="btn mode-pick__phrase" asp-controller="Game" asp-action="PhraseGame">Фразы</a>
    <a class="btn mode-pick__words" asp-controller="Game" asp-action="WordsGame">Выбор картинки</a>
    <a class="btn mode-pick__home" asp-controller="Home" asp-action="Index">На главную</a>
</div>