.phrasebook-container {
    margin-bottom: 100px;
}

.phrasebook__add-button {
    background: red;
    margin-top: 40px;
}

.phrasebook__table {
    width: 80%;
    margin: 50px auto 0;
    border-collapse: collapse;
}

.phrasebook__table th {
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
}

.phrasebook__table tbody {
    color: #808080;
}

.phrasebook__table tbody td {
    padding: 5px;
}

.phrasebook__table__edit-btn {
    background: gold;
    padding: 5px;
}

/*******************   Adding and Changing Forms   ***********************/

.phrase-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    margin: 50px auto;
}

.phrase-form__input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.phrase-form__input {
    padding: 5px;
}

.phrase-form__select {
    height: 30px;
    cursor: pointer;
}

.phrase-form__input-warning {
    font-size: 12px;
    color: red;
}

.phrase-form__button:hover {
   opacity: 0.7;
}