/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* My styles
-------------------------------------------------- */

.navbar-nav li:nth-child(4) {
    display: flex;
    align-items: center;
}

.dropdown-list {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-btn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: -50%;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: hidden;
    max-height: 0;
    list-style: none;
    padding: 0;
    animation: none;
}

.show {
    display: block;
    max-height: 500px;
    opacity: 1;
    animation: dropdown-open 0.5s forwards;
}

.hide {
    animation: dropdown-close 0.5s forwards;
}

.dropdown-content li {
    padding: 5px;
}

.dropdown-content li:hover {
    background-color: #f1f1f1;
}

.dropdown-content a {
    display: inline-block;
    padding: 0;
    width: 100%;
}

.dropdown-content a:hover {
    text-decoration: none;
}

.dropdown-content li:last-child {
    border-top: 1px solid #000000;
}

@keyframes dropdown-open {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 500px;
        opacity: 1;
    }
}

@keyframes dropdown-close {
    from {
        max-height: 500px;
        opacity: 1;
    }

    to {
        max-height: 0;
        opacity: 0;
        display: none;
    }
}