@model string

<link rel="stylesheet" href="~/css/auth.css" asp-append-version=true />

@if (Model == "")
{
    <script>
         window.location.href = '@Url.Action("LogIn", "Auth")';
    </script>
}
else
{
    <div class="user-component">
        <img src="~/images/pfp-icon.jpg" />
        <p>@Model</p>
    </div>
}