@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p><em>В настоящий момент сайт все еще находится на стадии разработки.</em></p>
    <p>Не стесняйтесь исследовать уже доступные разделы сайта. Также не забудьте ознакомится с нашими <a asp-controller="Home" asp-action="Privacy">условиями использования</a>.</p>
    <p>Больше узнать о проекте и изучить исходный код вы можете <a href="https://github.com/adekkgh/Look-For-It" target="_blank">тут</a></p>
    <p>Если вы обнаружили проблему в работе сайта, пожалуйста, сообщите нам об этом, отправив сообщение на <em>adek.dev@list.ru</em></p>
</div>
