@model PhraseViewModel

@await Html.PartialAsync("_PhrasebookStyles")

<h1 class="text-center">Изменение фразы</h1>
<form class="phrase-form" action="/Phrasebook/ChangePhrase" method="post">
    <input type="hidden" asp-for="Id" />
    <select asp-for="Theme" class="phrase-form__select">
        <option>Общение</option>
        <option>Цифры и числа</option>
        <option>Животные</option>
    </select>
    <div class="phrase-form__input-container">
        <input asp-for="Phrase_ru" type="text" class="phrase-form__input" placeholder="Русский язык" />
        <span asp-validation-for="Phrase_ru" class="phrase-form__input-warning"></span>
    </div>
    <div class="phrase-form__input-container">
        <input asp-for="Phrase_os" type="text" class="phrase-form__input" placeholder="Осетинский язык" />
        <span asp-validation-for="Phrase_os" class="phrase-form__input-warning"></span>
    </div>
    <button type="submit" class="phrase-form__button">Изменить</button>
</form>